<%= form_for @protocol, :html => { :class => "form-horizontal protocol" } do |f| %>

  <% if @protocol.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@protocol.errors.count, "error") %> prohibited this protocol from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @protocol.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :main_number, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :main_number, :class => 'form-control' %>
    </div>
    <%=f.error_span(:main_number) %>
  </div>
  <div class="form-group">
    <%= f.label :second_number, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :second_number, :class => 'form-control' %>
    </div>
    <%=f.error_span(:second_number) %>
  </div>
  <div class="form-group">
    <%= f.label :customer_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :customer_id, :class => 'form-control' %>
    </div>
    <%=f.error_span(:customer_id) %>
  </div>
  <div class="form-group">
    <%= f.label :sample, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :sample, :class => 'form-control' %>
    </div>
    <%=f.error_span(:sample) %>
  </div>
  <div class="form-group">
    <%= f.label :date_receipt, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :date_receipt, :class => 'form-control' %>
    </div>
    <%=f.error_span(:date_receipt) %>
  </div>
  <div class="form-group">
    <%= f.label :date_transfer_lab, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :date_transfer_lab, :class => 'form-control' %>
    </div>
    <%=f.error_span(:date_transfer_lab) %>
  </div>
  <div class="form-group">
    <%= f.label :date_result, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :date_result, :class => 'form-control' %>
    </div>
    <%=f.error_span(:date_result) %>
  </div>
  <div class="form-group">
    <%= f.label :date_pay, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :date_pay, :class => 'form-control' %>
    </div>
    <%=f.error_span(:date_pay) %>
  </div>
  <div class="form-group">
    <%= f.label :urgent, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :urgent, :class => 'form-control' %>
    </div>
    <%=f.error_span(:urgent) %>
  </div>
  <div class="form-group">
    <%= f.label :paid, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :paid, :class => 'form-control' %>
    </div>
    <%=f.error_span(:paid) %>
  </div>
  <div class="form-group">
    <%= f.label :send_to_customer, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :send_to_customer, :class => 'form-control' %>
    </div>
    <%=f.error_span(:send_to_customer) %>
  </div>
  <div class="form-group">
    <%= f.label :comment, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :comment, :class => 'form-control' %>
    </div>
    <%=f.error_span(:comment) %>
  </div>
  <div class="form-group">
    <%= f.label :document, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :document, :class => 'form-control' %>
    </div>
    <%=f.error_span(:document) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                protocols_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
