<p id="notice"><%= notice %></p>

<h1>Protocols</h1>

<table>
  <thead>
    <tr>
      <th>Main number</th>
      <th>Second number</th>
      <th>Customer</th>
      <th>Sample</th>
      <th>Date receipt</th>
      <th>Date transfer lab</th>
      <th>Date result</th>
      <th>Date pay</th>
      <th>Urgent</th>
      <th>Paid</th>
      <th>Send to customer</th>
      <th>Comment</th>
      <th>Document</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @protocols.each do |protocol| %>
      <tr>
        <td><%= protocol.main_number %></td>
        <td><%= protocol.second_number %></td>
        <td><%= protocol.customer.name %></td>
        <td><%= protocol.sample %></td>
        <td><%= protocol.date_receipt %></td>
        <td><%= protocol.date_transfer_lab %></td>
        <td><%= protocol.date_result %></td>
        <td><%= protocol.date_pay %></td>
        <td><%= protocol.urgent %></td>
        <td><%= protocol.paid %></td>
        <td><%= protocol.send_to_customer %></td>
        <td><%= protocol.comment %></td>
        <td><%= link_to 'download', protocol.document.url unless protocol.document.file.nil? %></td>
        <td><%= link_to 'Show', protocol %></td>
        <td><%= link_to 'Edit', edit_protocol_path(protocol) %></td>
        <td><%= link_to 'Destroy', protocol, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Protocol', new_protocol_path %>
