<%- model_class = Protocol -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:main_number) %>:</strong></dt>
  <dd><%= @protocol.main_number %></dd>
  <dt><strong><%= model_class.human_attribute_name(:second_number) %>:</strong></dt>
  <dd><%= @protocol.second_number %></dd>
  <dt><strong><%= model_class.human_attribute_name(:customer_id) %>:</strong></dt>
  <dd><%= @protocol.customer_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sample) %>:</strong></dt>
  <dd><%= @protocol.sample %></dd>
  <dt><strong><%= model_class.human_attribute_name(:date_receipt) %>:</strong></dt>
  <dd><%= @protocol.date_receipt %></dd>
  <dt><strong><%= model_class.human_attribute_name(:date_transfer_lab) %>:</strong></dt>
  <dd><%= @protocol.date_transfer_lab %></dd>
  <dt><strong><%= model_class.human_attribute_name(:date_result) %>:</strong></dt>
  <dd><%= @protocol.date_result %></dd>
  <dt><strong><%= model_class.human_attribute_name(:date_pay) %>:</strong></dt>
  <dd><%= @protocol.date_pay %></dd>
  <dt><strong><%= model_class.human_attribute_name(:urgent) %>:</strong></dt>
  <dd><%= @protocol.urgent %></dd>
  <dt><strong><%= model_class.human_attribute_name(:paid) %>:</strong></dt>
  <dd><%= @protocol.paid %></dd>
  <dt><strong><%= model_class.human_attribute_name(:send_to_customer) %>:</strong></dt>
  <dd><%= @protocol.send_to_customer %></dd>
  <dt><strong><%= model_class.human_attribute_name(:comment) %>:</strong></dt>
  <dd><%= @protocol.comment %></dd>
  <dt><strong><%= model_class.human_attribute_name(:document) %>:</strong></dt>
  <dd><%= @protocol.document %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              protocols_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_protocol_path(@protocol), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              protocol_path(@protocol),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
