<!DOCTYPE html>
<html>
  <head>
    <title>TestCenter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= render 'layouts/header' %>

  </head>

  <body>

  <% if current_user %>
      <%= render 'layouts/page_navbar' %>
      <%= render 'layouts/wrapper' %>
      <%= render 'layouts/footer' %>
      <%= render 'layouts/back_to_top' %>
      <%= render 'layouts/js' %>
  <% else %>

  <% end %>


  <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>

  <%= yield %>

  </body>
</html>
